<div class="mdl-grid container mdl-typography--text-center" id="features">
  <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-phone features">
    <div>
      <img alt="Cours" src="https://cdn1.iconfinder.com/data/icons/education-colored-icons-vol-2/128/078-128.png">
      <br>
    </div>
    <div clas="mdl-typography--font-regular mdl-typography--text-uppercase">Cours</div>
  </div>

  <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-phone features">
    <div>
      <img alt="Identification des faiblesses" src="{{url_for('static', filename='images/features/target.png')}}">
      <br>
    </div>
    <div clas="mdl-typography--font-regular mdl-typography--text-uppercase">Identification des faiblesses</div>
  </div>

  <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-phone features">
    <div>
      <img alt="Exercices" src="{{url_for('static', filename='images/features/exercises.png')}}">
      <br>
    </div>
    <div clas="mdl-typography--font-regular mdl-typography--text-uppercase">Exercices</div>
  </div>


  <div class="mdl-cell--2-col mdl-cell--hide-phone mdl-cell--hide-tablet">
  </div>

  <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-phone features">
    <div>
      <img alt="Examens" src="{{url_for('static', filename='images/features/exam.png')}}">
      <br>
    </div>
    <div clas="mdl-typography--font-regular mdl-typography--text-uppercase">Examens</div>
  </div>
  <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-phone features">
    <div>
      <img alt="Suivi personnalisé" src="{{url_for('static', filename='images/features/graph.png')}}">
      <br>
    </div>
    <div clas="mdl-typography--font-regular mdl-typography--text-uppercase">Suivi</div>
  </div>
</div>
