{% extends 'base.html' %}

{% block title %}À propos{% endblock %}

{% block description %}
Découvrez l'équipe de PolyLearn
{% endblock %}


{% block content %}
<div class="grey-bg">

  <div>
    <h1 class="mdl-typography--text-center android-slogan android-font">L'équipe</h1>
  </div>

  <div class="container mdl-shadow--2dp mdl-color--white" style="border-radius:2px;">

    <section class="mdl-grid about">

        <div class="mdl-cell mdl-cell--1-col"></div>

        <div class="mdl-cell mdl-cell--4-col">
          <img src="http://polylearn.co/img/41cced09.flo.jpg" class="" height="120" width="120">
          <h2 class="mdl-typography--display-1">Florent CLAPIÉ</h2>
          <h3 class="mdl-typography--title-color-contrast">CEO et Co-fondateur</h3>

          <p>
            Passionné de nouvelles technologies et ayant grandi avec des parents entrepreneurs dans le domaine de la formation linguistique, j'ai souhaité créer un outil très performant correspondant à leurs besoins.
            Celui ci utilise au mieux les apports qu'offre l'informatique au domaine de l'enseignement.
            Individualisation, adaptation et personnalisation sont les maîtres mots.
          </p>

        </div>

        <div class="mdl-cell mdl-cell--2-col"></div>

        <div class="mdl-cell mdl-cell--4-col">
          <img src="http://polylearn.co/img/338337ae.clem.png" height="120" width="120">
          <h2 class="mdl-typography--display-1">Clément VILLAIN</h2>
          <h3 class="mdl-typography--title-color-contrast">CTO et Co-fondateur</h3>

          <p>
            Passionné depuis toujours d'informatique, j'ai naturellement suivi cette voie en école d'ingénieur.
            Je me suis alors spécialisé dans le Machine Learning domaine en pleine évolution qui m'intéresse énormément.
            Je m'applique ainsi à optimiser différentes techniques de Data Mining dans le fonctionnement de nos outils pédagogiques afin que ceux ci soient les plus efficients possibles
          </p>
        </div>

    </section>
  </div>

  <br>
</div>
{% endblock %}
