<!doctype html>
<!--
  Material Design Lite
  Copyright 2015 Google Inc. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License
-->

<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{% block description %}PolyLearn vous aide à réussir rapidement votre Code de la Route, TOEIC ou BULATS. Optimisation de votre temps de révision et de votre score.{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>{% block title %}PolyLearn · Réussissez rapidement votre examen{% endblock %}</title>

    <meta name="author" content="PolyLearn">
    <meta name="generator" content="PolyLearn">
    <link href="https://plus.google.com/+Polylearn" rel="publisher" />
    <meta name="robots" content="index, follow">

    <meta name="theme-color" content="#2B3882">
    {% include 'includes/manifest.html' %}

    <meta property="og:description" content="PolyLearn est une plateforme d'entrainement à différents examens qui identifie vos faiblesses pour optimiser votre temps de révision et votre score.">
    <meta property="og:title" content="Réussissez vos examens rapidement">
    <meta property="og:site_name" content="PolyLearn.co">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://polylearn.co/static/images/index/mockup.jpg" />
    <meta property="og:url" content="https://polylearn.co">
    <meta property="fb:app_id" content="367497400125453">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@PolyLearn_co">
    <meta name="twitter:title" content="PolyLearn · Réussissez rapidement votre examen">
    <meta name="twitter:description" content="PolyLearn vous aide à réussir rapidement votre Code de la Route, TOEIC ou BULATS. Optimisation de votre temps de révision et de votre score.">
    <meta name="twitter:image:src" content="https://polylearn.co/static/images/index/mockup.jpg">
    <!-- Page styles -->
    <link rel="stylesheet" href="{{url_for('static', filename='vendor/material-design-lite/material.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">

  </head>
  <body>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.6&appId=367497400125453";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    {% block header %}{% include 'header.html' %}{% endblock %}

    <div class="android-content mdl-layout__content">
      <a name="top"></a>
      {% block content %}{% endblock %}
      {% include 'footer.html' %}
    </div>
  </div>

  <script src="{{url_for('static', filename='vendor/material-design-lite/material.min.js')}}"></script>

  {% block script %}{% endblock %}

<script>
  window.intercomSettings = {
    app_id: "vfydfavo"
  };
</script>

<script>
// We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/vfydfavo'
(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/vfydfavo';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
</script>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
  <script>
  +function(l,e){(ct=this[GoogleAnalyticsObject='ct']||function(l,e){(ct.q=ct.q||[]).push(arguments)}).l=+new Date,l=document.createElement('script'),l.src='//www.google-analytics.com/analytics.js',(e=document.getElementsByTagName('script')[0]).parentNode.insertBefore(l,e);try{localStorage.setItem(ct.l,ct.l),l=localStorage.getItem(ct.l)-ct.l,localStorage.removeItem(ct.l)}catch(l){};ct('create','UA-67551062-2',l?{}:{clientId:localStorage.clientId,storage:'none'}),ct(function(l,e){localStorage.clientId=l.get('clientId')}),ct('send','pageview')}()
  </script>

  </body>
</html>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,thin,light&amp;lang=en" rel="stylesheet">
