{% extends 'base.html' %}

{% block title %}Le concept PolyLearn{% endblock %}

{% block description %}
En savoir plus sur les avantages et le concept de la plateforme.
{% endblock %}

{% block content %}
<main class="mdl-demo grey-bg">

        <h1 class="mdl-typography--text-center android-slogan android-font">Le concept</h1>

          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
            </header>
            <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
              <div class="mdl-card__supporting-text">
                <h4>Avoir la meilleure plateforme de préparation possible pour réussir un examen</h4>
                Nous pensons que pour réussir un examen, il faut être dans les meilleures conditions possibles avec un outil adapté capable de faire gagner du temps et d'optimiser la progression.
              </div>
              <div class="mdl-card__actions">
                <a href="{{ url_for('products') }}" class="mdl-button">Voir les examens auxquels nous pouvons vous aider à réussir</a>
              </div>
            </div>
          </section>

          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                <h4 class="mdl-cell mdl-cell--12-col">Les + PolyLearn</h4>
                <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone mdl-cell--middle">
                  <div class="section__circle-container__circle">
                    <img src="https://cdn4.iconfinder.com/data/icons/flat-rounded-seo-icons/80/page-quality-128.png" width="100" height="100">
                  </div>
                </div>
                <div class="mdl-cell--middle section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                  <h2 class="mdl-typography--title" style="margin:10px 0;">Contenu pédagogique d'une grande qualité</h2>
                  <p>
                    Nous portons une grande attention au contenu que nous vous mettons à disposition.
                    Ce contenu pédagogique a été choisi et réalisé par des professionels du secteur.
                  </p>
                </div>
                <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone mdl-cell--middle">
                  <div class="section__circle-container__circle">
                    <img src="{{url_for('static', filename='images/features/target.png')}}" width="100" height="100">
                  </div>
                </div>
                <div class="mdl-cell--middle section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                  <h2 class="mdl-typography--title" style="margin:10px 0;">Identification des faiblesses</h2>
                  <p>
                    <b>L'identification des faiblesses</b> est une technologie développée par <a href="/">PolyLearn</a> qui vous permet de cerner vos difficultés.
                    Notre <a href="{{ url_for('pedagogie')}}">pédagogie est centrée sur vous</a> !
                  </p>
                </div>
                <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone mdl-cell--middle">
                  <div class="section__circle-container__circle">
                    <img src="{{url_for('static', filename='images/features/parcours.png')}}" width="100" height="100">
                  </div>
                </div>
                <div class="mdl-cell--middle section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                  <h2 class="mdl-typography--title" style="margin:10px 0;">Progression optimisée et un parcours d'apprentissage sur-mesure</h2>
                  <p>
                  Grâce à nos technologies, nous sommes en mesure de vous proposer un <i>entrainement intelligent</i>  et un <i>parcours d'apprentissage optimisé</i>.
                  </p>
                </div>
                <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone mdl-cell--middle">
                  <div class="section__circle-container__circle">
                    <img src="{{url_for('static', filename='images/features/devices.png')}}" width="100" height="100">
                  </div>
                </div>
                <div class="mdl-cell--middle section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                  <h2 class="mdl-typography--title" style="margin:10px 0;">Plateforme web et des Applications mobiles</h2>
                  <p>
                    Grâce à notre plateforme internet et nos applications iOS & android, vous travaillez quand vous voulez.
                  </p>
                </div>
              </div>
              <div class="mdl-card__actions">
                <a href="{{url_for('pedagogie')}}" class="mdl-button">En savoir plus sur notre pédagogie</a>
              </div>
            </div>

            <!--
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn2">
              <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn2">
              <li class="mdl-menu__item">Lorem</li>
              <li class="mdl-menu__item" disabled>Ipsum</li>
              <li class="mdl-menu__item">Dolor</li>
            </ul>
          -->
          </section>

          <section id="technologies" class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
              <div class="mdl-card__supporting-text">
                <h4>Des technologies inédites</h4>
                PolyLearn repose sur des technologies qui permet d'optimiser votre temps de révision.
                <ul>
                  <li>
                    1. Identification des faiblesses
                  </li>
                  <li>
                    2. Optimisation du parcours d'apprentissage
                  </li>
                </ul>
              </div>
            </div>

            <header class="section__play-btn-2 mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
            </header>
          </section>

          {% include 'includes/second_footer.html' %}

      </main>
{% endblock %}
