<section class="mdl-color--grey-800 mdl-mega-footer">

<!-- Image card -->
<style>
.demo-card-image.mdl-card {
  width: 256px;
  height: 256px;
}
.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
</style>

  <div class="mdl-grid">
    <a href="#">
    <div class="demo-card-image mdl-card mdl-shadow--2dp mdl-cell about-panel-1">
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="demo-card-image__filename">TOEIC/BULATS</span>
      </div>
    </div>
    </a>

    <a href="#">
    <div class="demo-card-image mdl-card mdl-shadow--2dp mdl-cell about-panel-2">
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="demo-card-image__filename">Code de la Route</span>
      </div>
    </div>
    </a>

  </div>

</section>

<footer class="android-footer mdl-mega-footer">
  <div class="mdl-mega-footer--top-section">
    <div class="mdl-mega-footer--left-section">
      <button class="mdl-mega-footer--social-btn"></button>
      &nbsp;
      <button class="mdl-mega-footer--social-btn"></button>
      &nbsp;
      <button class="mdl-mega-footer--social-btn"></button>
    </div>
    <div class="mdl-mega-footer--right-section">
      <a class="mdl-typography--font-light" href="#top">
        Back to Top
        <i class="material-icons">expand_less</i>
      </a>
    </div>
  </div>

  <div class="mdl-mega-footer--middle-section">
    <p class="mdl-typography--font-light">PolyLearn © 2015</p>
    <p class="mdl-typography--font-light">Redécouvrez le monde des révisions</p>
  </div>

  <div class="mdl-mega-footer--bottom-section">
    <a class="android-link android-link-menu mdl-typography--font-light" id="version-dropdown">
      Versions
      <i class="material-icons">arrow_drop_up</i>
    </a>
    <ul class="mdl-menu mdl-js-menu mdl-menu--top-left mdl-js-ripple-effect" for="version-dropdown">
      <li class="mdl-menu__item">5.0 Lollipop</li>
      <li class="mdl-menu__item">4.4 KitKat</li>
      <li class="mdl-menu__item">4.3 Jelly Bean</li>
      <li class="mdl-menu__item">Android History</li>
    </ul>
    <a class="android-link android-link-menu mdl-typography--font-light" id="developers-dropdown">
      For Developers
      <i class="material-icons">arrow_drop_up</i>
    </a>
    <ul class="mdl-menu mdl-js-menu mdl-menu--top-left mdl-js-ripple-effect" for="developers-dropdown">
      <li class="mdl-menu__item">App developer resources</li>
      <li class="mdl-menu__item">Android Open Source Project</li>
      <li class="mdl-menu__item">Android SDK</li>
      <li class="mdl-menu__item">Android for Work</li>
    </ul>
    <a class="android-link mdl-typography--font-light" href="">Blog</a>
    <a class="android-link mdl-typography--font-light" href="">Privacy Policy</a>
  </div>

</footer>
