<section class="mdl-color--grey-800 mdl-mega-footer">

  <div class="mdl-grid">
    <a href="{{ app_url('toeic') }}">
    <div class="demo-card-image mdl-card mdl-shadow--2dp mdl-cell about-panel-1">
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="demo-card-image__filename">TOEIC</span>
      </div>
    </div>
    </a>

    <a href="#">
    <div class="demo-card-image mdl-card mdl-shadow--2dp mdl-cell about-panel-2">
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="demo-card-image__filename">Code de la Route</span>
      </div>
    </div>
    </a>

    <a href="#">
    <div class="demo-card-image mdl-card mdl-shadow--2dp mdl-cell about-panel-3">
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="demo-card-image__filename">BULATS</span>
      </div>
    </div>
    </a>

  </div>

</section>


<footer class="mdl-mega-footer polylearn-footer">

  <div class="mdl-mega-footer__top-section">

    <div class="mdl-mega-footer--right-section">
      <a class="mdl-typography--font-light" href="#top">
        Revenir en haut
        <i class="material-icons">expand_less</i>
      </a>
    </div>
  </div>

  <div class="mdl-mega-footer__middle-section">

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">PolyLearn</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="{{url_for('products')}}">Examens</a></li>
        <li><a href="{{url_for('pedagogie')}}">Pédagogie</a></li>
        <li><a href="{{url_for('about')}}">L'équipe</a></li>
        <li><a href="{{url_for('contact')}}">Contact</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Examens et certifications</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="{{ app_url('toeic') }}">TOEIC</a></li>
        <li><a href="#">BULATS</a></li>
        <li><a href="#">Code de la Route</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Réseaux sociaux</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="https://www.facebook.com/polylearn.co/">Facebook</a></li>
        <li><a href="https://twitter.com/PolyLearn_co">Twitter</a></li>
        <li><a href="https://www.google.com/+Polylearn">Google</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <div class="fb-page" data-href="https://www.facebook.com/polylearn.co/" data-tabs="timeline" data-height="70" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/polylearn.co/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/polylearn.co/">PolyLearn</a></blockquote></div>
    </div>

  </div>

  <div class="mdl-mega-footer__bottom-section">
    <div class="mdl-logo">PolyLearn © 2016</div>
    <ul class="mdl-mega-footer__link-list">
      <li><a href="{{url_for('legal')}}">Conditions générales d'utilisation</a></li>
    </ul>
  </div>

</footer>
