<div class="android-header mdl-layout__header mdl-layout__header--waterfall">
  <div class="mdl-layout__header-row">
    <a href="/">
    <span class="android-title mdl-layout-title josefin">
      <img alt="Logo Polylearn" class="android-logo-image" height="50" src="{{url_for('static', filename='images/logo-polylearn.jpg')}}">
      <!--<span>PolyLearn</span>-->
    </span>
    </a>
    <!-- Add spacer, to align navigation to the right in desktop -->
    <div class="android-header-spacer mdl-layout-spacer"></div>

    <!-- Navigation -->
    <div class="android-navigation-container">
      <nav class="android-navigation mdl-navigation">
        <a class="mdl-navigation__link mdl-typography--text-uppercase {% if request.endpoint == 'products' %} is_active {%endif%}" href="{{ url_for('products')}}">Les examens</a>
        <a class="mdl-navigation__link mdl-typography--text-uppercase {% if request.endpoint == 'pedagogie' %} is_active {%endif%}" href="{{url_for('pedagogie')}}">La pédagogie</a>
        <a class="mdl-navigation__link mdl-typography--text-uppercase {% if request.endpoint == 'about' %} is_active {%endif%}" href="{{url_for('about')}}">L'équipe</a>
        <button id="run-app" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="#">
          Lancer
        </button>
      </nav>
    </div>

    <div class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
    for="run-app">
      <a class="mdl-menu__item" href="{{ app_url('toeic') }}">TOEIC</a>
      <a class="mdl-menu__item" href="{{ url_for('products')}}">BULATS</a>
      <a class="mdl-menu__item" href="{{ url_for('products')}}">Code de la Route</a>
    </div>

    <a href="/">
      <span class="android-mobile-title mdl-layout-title">
        <!--<img class="android-logo-image" src="http://polylearn.co/img/65ad7dd4.logo.png">-->
        PolyLearn
      </span>
    </a>
  </div>
</div>

<div class="android-drawer mdl-layout__drawer">
  <span class="mdl-layout-title">
    <a href="/">
      <img alt="Logo PolyLearn" class="android-logo-image" src="{{url_for('static', filename='images/logo-polylearn.jpg')}}">
    </a>
  </span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="{{ url_for('products')}}">Les examens</a>
    <a class="mdl-navigation__link" href="{{ url_for('pedagogie')}}">La pédagogie</a>
    <a class="mdl-navigation__link" href="{{ url_for('about')}}">L'équipe</a>
    <div class="android-drawer-separator"></div>
    <a class="mdl-navigation__link" href="{{ url_for('contact')}}">Nous contacter</a>
  </nav>
</div>
