<div class="android-header mdl-layout__header mdl-layout__header--waterfall">
  <div class="mdl-layout__header-row">
    <a href="{{ url_for('index')}}">
    <span class="android-title mdl-layout-title josefin">
      <img class="android-logo-image" height="40px" src="{{url_for('static', filename='images/logo.png')}}">
      <span>PolyLearn</span>
    </span>
    </a>
    <!-- Add spacer, to align navigation to the right in desktop -->
    <div class="android-header-spacer mdl-layout-spacer"></div>

    <!-- Navigation -->
    <div class="android-navigation-container">
      <nav class="android-navigation mdl-navigation">
        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{{ url_for('products')}}">Les examens</a>
        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{{ url_for('concept')}}">Le concept</a>
        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{{url_for('pedagogie')}}">La pédagogie</a>
        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{{url_for('about')}}">L'équipe</a>
        <a class=" mdl-typography--text-uppercase" href="{{url_for('contact')}}">
          <label class="mdl-button mdl-button--icon" for="search-field">
            <i class="material-icons">email</i>
          </label>
        </a>



      </nav>
    </div>

    <!--
    <button class="android-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
      <i class="material-icons">more_vert</i>
    </button>
    <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
      <li class="mdl-menu__item">5.0 Lollipop</li>
      <li class="mdl-menu__item">4.4 KitKat</li>
      <li disabled class="mdl-menu__item">4.3 Jelly Bean</li>
      <li class="mdl-menu__item">Android History</li>
    </ul>
  -->
    <a href="{{ url_for('index')}}">
      <span class="android-mobile-title mdl-layout-title">
        <!--<img class="android-logo-image" src="http://polylearn.co/img/65ad7dd4.logo.png">-->
        PolyLearn
      </span>
    </a>
  </div>
</div>

<div class="android-drawer mdl-layout__drawer">
  <span class="mdl-layout-title">
    <a href="{{ url_for('index')}}">
      <img class="android-logo-image" src="{{url_for('static', filename='images/logo.png')}}">
    </a>
  </span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="{{ url_for('products')}}">Les examens</a>
    <a class="mdl-navigation__link" href="{{ url_for('concept')}}">Le concept</a>
    <a class="mdl-navigation__link" href="{{ url_for('pedagogie')}}">La pédagogie</a>
    <a class="mdl-navigation__link" href="{{ url_for('about')}}">L'équipe</a>
    <div class="android-drawer-separator"></div>
    <a class="mdl-navigation__link" href="{{ url_for('contact')}}">Nous contacter</a>
  </nav>
</div>
