{% extends 'base.html' %}

{% block content %}

<div class="android-be-together-section mdl-typography--text-center">
  <div class="android-font android-slogan">Réussir n'a jamais été aussi facile</div>
  <h1 class="android-font android-sub-slogan">Découvrez notre méthode d'entrainement utilisant des technologies inédites</h1>

  <div class="mdl-grid">
    <a href="{{ app_url('toeic') }}" class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-phone">
    <section class="about-panel-1 about-panel--components mdl-color-text--white">
      <h2>TOEIC</h2>
    </section>
    </a>

    <a href="#" class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
    <section class="about-panel-2 about-panel--components mdl-color-text--white">
      <h2>Code de la Route</h2>
    </section>
    </a>

    <a href="#" class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-phone">
    <section class="about-panel-3 about-panel--components mdl-color-text--white">
      <h2>BULATS</h2>
    </section>
    </a>

  </div>


  <a href="#features">
    <button class="android-fab mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
      <i class="material-icons">expand_more</i>
    </button>
  </a>
</div>

<div class="android-screen-section mdl-typography--text-center">
  <a name="features"></a>
  <h3 class="mdl-typography--display-1 font-300">Préparation complète à votre examen ou votre certification</h3>
  <hr class="primary">
  <p style="max-width:550px; margin: 0 auto;">
    Nos experts ont identifié et selectionné les différents aspects pédagogiques permettant un accompagnement et une réussite rapide dans vos examens/certifications.
  </p>


  <div class="services">
    <div class="mdl-grid text-center container">
      <div class="mdl-cell mdl-cell--4-col">
        <i class="material-icons">account_balance</i>
        <h4>Contenu pédagogique</h4>
        <p>
          Notre contenu pédagogique a été rigoureusement choisi afin d'être sûr qu'il couvre l'ensemble de votre examen : cours, entrainements et examens blancs.
        </p>
      </div>
      <div class="mdl-cell mdl-cell--4-col">
        <i class="material-icons">assignment_ind</i>
        <h4>Entrainement sur-mesure</h4>
        <p>
          Nous avons créé des technologies qui nous permettent de vous proposer un entrainement adaptatif selon vos besoins et votre progression.
        </p>
      </div>
      <div class="mdl-cell mdl-cell--4-col">
        <i class="material-icons">extension</i>
        <h4>Expérience utilisateur</h4>
        <p>
          En plus d'une pédagogie centrée sur vous, nous avons travaillé sur des fonctionnalités supplémentaires pour vous offrir une expérience incroyable.
        </p>
      </div>
    </div>
  </div>

  <div>
    <a href="{{ url_for('pedagogie')}}" class="mdl-button mdl-js-button mdl-button--primary">
      La pédagogie
    </a>

    <a href="{{ url_for('products')}}" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
      Voir les examens
    </a>
  </div>

</div>

<div class="caption">
  <div class="container text-center">
    <i class="material-icons" style="font-size:56px;">center_focus_weak</i>
    <h3>Une pédagogie centrée sur vous pour une progression rapide</h3>
    <h4 class="font-300" style="opacity:0.9">Des utilisateurs satisfaits</h4>
  </div>
</div>


<div class="grey-bg android-screen-section" id="timeline">
  <div class="container mdl-typography--text-center">
    <h3 class="mdl-typography--display-1 font-300">Comment ça marche ?</h3>
    <hr class="primary">

    <div class="step">
      <span class="number">1</span>
      <h4>Identification</h4>
      <p class="mdl-typography--headline">
        Grâce à un test rapide, le système va pré-identifier vos faiblesses les plus importantes
      </p>
    </div>

    <div class="step">
      <span class="number">2</span>
      <h4>Élaboration</h4>
      <p class="mdl-typography--headline">
        Ensuite, le système élaborera un programme d'apprentissage sur-mesure permettant de vous faire réussir rapidement l'examen
      </p>
    </div>

    <div class="step">
      <span class="number">3</span>
      <h4>Entrainement</h4>
      <p class="mdl-typography--headline">
        Vous pouvez vous entrainer, l'adaptative-learning mis en place va continuer à améliorer l'élaboration de votre programme d'apprentissage et ainsi vous faire gagner du temps
      </p>
    </div>

  </div>
</div>



<div class="android-more-section white-bg" id="showcase">
  <div class="mdl-typography--text-center">
    <h3 class="mdl-typography--display-1 font-300">Des modules pour progresser</h3>
    <hr class="primary">

    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
        <div class="show" style="background:url({{url_for('static', filename='images/index/lessons-toeic.min.jpg')}}) center center no-repeat">
        </div>
      </div>
      <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
        <div class="show" style="background:url({{url_for('static', filename='images/index/training-toeic.min.jpg')}}) center center no-repeat">
        </div>
      </div>
      <!--
      <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
        <div class="show" style="background:url({{url_for('static', filename='images/index/lessons-toeic.png')}}) center center no-repeat">
        </div>
      </div>
    -->
      <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
        <div class="show" style="background:url({{url_for('static', filename='images/index/lexicon-toeic.min.jpg')}}) center center no-repeat">
        </div>
      </div>
    </div>



  </div>

</div>


<div class="android-screen-section grey-bg">
  <div class="mdl-typography--text-center">
    <h3 class="mdl-typography--display-1 font-300">Des applications mobiles et une plateforme web</h3>
    <hr class="primary">
    <p style="max-width:550px; margin: 0 auto;">
      Nous avons choisi de rendre disponibles nos applications sur sur un grand nombre d'appareils afin que vous puissiez vous entrainer de n'importe où.
    </p>
    <br>
    <br>
    <img alt="Available on playstore" src="{{url_for('static', filename='images/index/playstore.png')}}" width="125" style="margin-right:10px;">
    <img alt="Available on appstore" width="143" src="{{url_for('static', filename='images/index/appstore.png')}}">
  </div>
</div>
{% endblock %}


{% block script %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "https://polylearn.co",
  "logo": "https://polylearn.co/static/images/logo.svg",
  "sameAs" : [
    "https://www.facebook.com/polylearn.co/",
    "https://plus.google.com/+Polylearn",
    "https://twitter.com/PolyLearn_co"
  ]
}
</script>
{% endblock %}
