{% extends 'base.html' %}

{% block content %}

<div class="android-be-together-section mdl-typography--text-center">
  <div class="android-font android-slogan">Réussir n'a jamais été aussi facile</div>
  <h1 class="android-font android-sub-slogan">Découvrez notre méthode d'entrainement utilisant des technologies inédites</h1>

  <div class="mdl-grid">
    <a href="{{ app_url('toeic') }}" class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-phone">
    <section class="about-panel-1 about-panel--components mdl-color-text--white">
      <h2>TOEIC</h2>
    </section>
    </a>

    <a href="#" class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
    <section class="about-panel-2 about-panel--components mdl-color-text--white">
      <h2>Code de la Route</h2>
    </section>
    </a>

    <a href="#" class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-phone">
    <section class="about-panel-3 about-panel--components mdl-color-text--white">
      <h2>BULATS</h2>
    </section>
    </a>

  </div>


  <a href="#features">
    <button class="android-fab mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
      <i class="material-icons">expand_more</i>
    </button>
  </a>
</div>

<div class="android-screen-section mdl-typography--text-center">
  <a name="features"></a>
  <h3 class="mdl-typography--display-1 font-300">Préparation complète à votre examen ou votre certification</h3>
  <hr class="primary">
  <p style="max-width:550px; margin: 0 auto;">
    Nos experts ont identifié et selectionné les différents aspects pédagogiques permettant un accompagnement et une réussite rapide dans vos examens/certifications.
  </p>

  <div class="container">
    <div class="mdl-grid">

    </div>
  </div>

  <div>
    <a href="{{ url_for('concept')}}" class="mdl-button mdl-js-button mdl-button--primary">
      Le concept
    </a>

    <a href="{{ url_for('products')}}" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
      Voir les examens
    </a>
  </div>
</div>

<div class="caption">
  <div class="container text-center">
    <i class="material-icons" style="font-size:56px;">center_focus_weak</i>
    <h3>Une pédagogie centrée sur vous pour une progression rapide</h3>
    <h4 class="font-300" style="opacity:0.9">Des utilisateurs satisfaits</h4>
  </div>
</div>

<div class="android-more-section">

  <div class="container mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">
      <img alt="PolyLearn App" class="img-responsive-100" src="{{url_for('static', filename='images/index/multidevices.jpg')}}">
    </div>

    <div class="mdl-cell mdl-cell--6-col">
      <h3 class="android-section-title mdl-typography--display-1 font-300">Des applications mobiles et une plateforme web</h3>
      <hr class="primary" style="margin-left:0;">
      <p>
        Nous avons choisi de rendre disponible nos applications sur sur un grand nombre d'appareils afin que vous puissiez vous entrainer de n'importe où.
      </p>

      <img alt="Available on playstore" src="{{url_for('static', filename='images/index/playstore.png')}}" width="125" style="margin-right:10px;">
      <img alt="Available on appstore" width="143" src="{{url_for('static', filename='images/index/appstore.png')}}">

    </div>




  </div>
</div>

{% endblock %}


{% block script %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "http://polylearn.co",
  "logo": "http://polylearn.co/static/images/logo.png",
  "sameAs" : [
    "https://www.facebook.com/polylearn.co/",
    "https://plus.google.com/+Polylearn"
  ]
}
</script>
{% endblock %}
