{% extends 'base.html' %}

{% block title %}Conditions générales d'utilisations{% endblock %}

{% block description %}
Retrouvez les conditions générales d'utilisations de PolyLearn
{% endblock %}

{% block content %}
<main class="mdl-demo grey-bg">

  <h1 class="mdl-typography--text-center android-slogan android-font">Conditions générales d'utilisations</h1>
  <div class="container mdl-shadow--2dp mdl-color--white" style="border-radius:2px;">
  <section class="mdl-grid about">
    <h2 class="mdl-typography--headline">
      MENTIONS LÉGALES DU SITE
      <br>PolyLearn
    </h2>


    <p>Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l’économie numérique, dite L.C.E.N., il est porté à la connaissance des utilisateurs et visiteurs du site PolyLearn les présentes mentions légales.</p>
    <p>Le site PolyLearn est accessible à l’adresse suivante : <a href="http://polylearn.co">polylearn.co</a> (ci-après “le Site”). L’accès et l’utilisation du Site sont soumis aux présentes " Mentions légales" détaillées ci-après ainsi qu’aux lois et/ou règlements applicables.
    La connexion, l’utilisation et l’accès à ce Site impliquent l’acceptation intégrale et sans réserve de l’internaute de toutes les dispositions des présentes Mentions Légales.</p>
    <h2 class="mdl-typography--headline"><a id="ARTICLE_1__INFORMATIONS_LGALES_5"></a>ARTICLE 1 - INFORMATIONS LÉGALES</h2>
    <p>En vertu de l’Article 6 de la Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, il est précisé dans cet article l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi.
    Le site PolyLearn est édité par :
    SAS POLYLEARN
    ayant son siège social à l’adresse suivante : PolyLearn, 1 mail Gay LUSSAC 95015 Cergy-Pontoise CEDEX, et immatriculée au numéro suivant : RCS PONTOISE 818 772 303.
    Adresse e-mail : <a href="mailto:contact@polylearn.co">contact@polylearn.co</a>
    ci après " l’Éditeur "</p>
    <p>Le Directeur de publication est :
    F.Clapié
    Ci-après " le Directeur de publication "</p>
    <p>Le site PolyLearn est hébergé par :
    Digital Ocean
    dont le siège est situé à l’adresse suivante : DigitalOcean, 101 Avenue of the Americas, 10th Floor, New York, NY 10013.
    ci après " l’Hébergeur "</p>
    <p>Sont considérés comme utilisateurs tout les internautes qui naviguent, lisent, visionnent et utilisent le site PolyLearn.
    ci après les " Utilisateurs "</p>
    <h2 class="mdl-typography--headline"><a id="ARTICLE_2__ACCESSIBILIT_25"></a>ARTICLE 2 - ACCESSIBILITÉ</h2>
    <p>Le Site est par principe accessible aux utilisateurs 24/24h et 7/7j, sauf interruption, programmée ou non, pour des besoins de maintenance ou en cas de force majeure.
    En cas d’impossibilité d’accès au Site, celui-ci s’engage à faire son maximum afin d’en rétablir l’accès. Le Site ne saurait être tenu pour responsable de tout dommage, quelle qu’en soit la nature, résultant de son indisponibilité.</p>
    <h2 class="mdl-typography--headline"><a id="ARTICLE_3__COLLECTE_DE_DONNES_ET_LOI_INFORMATIQUE_ET_LIBERTS_29"></a>ARTICLE 3 - COLLECTE DE DONNÉES ET LOI INFORMATIQUE ET LIBERTÉS</h2>
    <p>Ce site est déclaré à la Commission Nationale Informatique et Libertés (CNIL) sous n°1960400 v 0.
    En outre, il est conforme aux dispositions de la Loi 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés. En vertu de celle-ci l’Utilisateur bénéficie notamment d’un droit d’opposition (art. 32 et 38), d’accès (art. 38 et 39) et de rectification (art. 40) des données le concernant.
    Pour faire usage de celui-ci, l’Utilisateur doit s’adresser à l’Éditeur en le contactant à l’adresse suivante : <a href="mailto:contact@polylearn.co">contact@polylearn.co</a> ou par courrier adressé au siège social de l’Éditeur en précisant ses nom, prénom(s), adresse et adresse(s) e-mail.</p>
    <h2 class="mdl-typography--headline"><a id="ARTICLE_4__POLITIQUE_DE_COOKIES_34"></a>ARTICLE 4 - POLITIQUE DE COOKIES</h2>
    <p>Le site PolyLearn a éventuellement recours aux techniques de “cookies” lui permettant de traiter des statistiques et des informations sur le trafic, de faciliter la navigation et d’améliorer le service pour le confort de l’Utilisateur.
    Conformément à la législation européenne, le site PolyLearn a mis à jour sa politique de confidentialité en matière de cookies. L’Utilisateur est libre d’accepter ou de refuser les cookies de tous les sites internet en modifiant les paramètres de son navigateur internet.</p>
    <h2 class="mdl-typography--headline"><a id="ARTICLE_5__LOI_APPLICABLE_ET_JURIDICTION_40"></a>ARTICLE 5 - LOI APPLICABLE ET JURIDICTION</h2>
    <p>Les présentes Mentions Légales sont régies par la loi française. En cas de différend et à défaut d’accord amiable, le litige sera porté devant les tribunaux français conformément aux règles de compétence en vigueur.</p>
    <h2 class="mdl-typography--headline"><a id="ARTICLE_6__CONTACT_43"></a>ARTICLE 6 - CONTACT</h2>
    <p>Pour tout signalement de contenus ou d’activités illicites, l’Utilisateur peut contacter l’Éditeur à l’adresse suivante : <a href="mailto:contact@polylearn.co">contact@polylearn.co</a>, ou par courrier recommandé avec accusé de réception adressé à l’Éditeur aux coordonnées précisées dans les présentes mentions légales.</p>
    <p><em>Le site PolyLearn vous souhaite une excellente navigation !</em></p>

  </section>
  </div>

</main>
{% endblock %}
