{% extends 'base.html' %}

{% block title %}La pédagogie{% endblock %}

{% block description %}
Une pédagogie sur-mesure et une progression optimisée
{% endblock %}

{% block content %}
<main class="mdl-demo grey-bg">

        <h1 class="mdl-typography--text-center android-slogan android-font">La pédagogie</h1>

        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
          <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-card__supporting-text">
              <h4>Une pédagogie centrée sur VOUS</h4>
              Notre équipe pédagogique a rédigé l'intégralité des leçons relatives aux examens.
              PolyLearn vous entraine sur celles qui vous posent problème afin de combler le plus rapidement possible vos lacunes.
              Fini le bachotage inutile, nous cernons vos difficultés et vous aidons à y remédier.
            </div>

            <div class="mdl-card__actions">
              <a href="{{ url_for('products') }}" class="mdl-button">Voir les examens</a>
            </div>
          </div>

          <header class="school-bg mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
          </header>
        </section>



        {% include 'includes/features.html' %}

        <br>
        <br>

        {% include 'includes/second_footer.html' %}

      </main>
{% endblock %}
