{% extends 'base.html' %}

{% block title %}Les examens{% endblock %}

{% block description %}
PolyLearn peut vous aider à réussir votre TOEIC et votre Code de la Route
{% endblock %}

{% block content %}

<div class="grey-bg">

  <div>
    <h1 class="mdl-typography--text-center android-slogan android-font">Les examens</h1>
  </div>


  <div class="container mdl-grid">
    <div class="mdl-cell--1-col mdl-cell--hide-phone mdl-cell--hide-tablet">
    </div>

    <div class="demo-card-square mdl-card mdl-shadow--2dp mdl-cell mdl-cell--5-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
      <div class="mdl-card__title mdl-card--expand about-panel-1">
        <h2 class="mdl-card__title-text">TOEIC BULATS</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <ul>
          <li>
            230 cours et astuces
          </li>
          <li>
            2000 questions
          </li>
          <li>
            10 examens blancs
          </li>
          <li>
            20 heures d'entrainements
          </li>
          <li>
            1 glossaire sur-mesure
          </li>
        </ul>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a href="{{ app_url('toeic') }}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--raised">
          Accéder
        </a>
      </div>
    </div>


    <div class="demo-card-square mdl-card mdl-shadow--2dp mdl-cell mdl-cell--5-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
      <div class="mdl-card__title mdl-card--expand about-panel-2">
        <h2 class="mdl-card__title-text">Code de la Route</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <ul>
          <li>
            100 cours et astuces
          </li>
          <li>
            3000 question
          </li>
          <li>
            30 examens blancs
          </li>
          <li>
            30 heures d'entrainements
          </li>
          <li>
            Signalisation
          </li>
        </ul>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <button class="mdl-button mdl-js-button mdl-button--accent">
          À venir
        </button>
        <!--
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Accéder
        </a>
      -->
      </div>
    </div>

  </div>


  <br>
</div>
{% endblock %}
