{% extends 'base.html' %}

{% block title %}Message bien envoyé{% endblock %}

{% block content %}

<div class="demo-ribbon"></div>

<main class="demo-main mdl-layout__content">
  <div class="demo-container mdl-grid">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">

      <div class="demo-crumbs mdl-color-text--grey-500">
        Nous vous répondrons dans les plus brefs délais.
      </div>

      <h3>Votre message a bien été envoyé</h3>
    </div>
  </div>
</main>

{% endblock %}
